*{
    background-color: #A2BE9F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #A2BE9F;
}

/*inicio header*/


#icones {
    padding-top: 30px;
    background-color: transparent;
    display: flex;
}

.btn.btn-primary #menu-preta{
    background-color: #A2BE9F;
    border: 0px;
}

a{
    text-decoration: none;
    font-style: oblique;
    color: black;
}

#nav-grid {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

#menu-preta {
    margin-left: 10px;
    background-color: transparent;
    max-width: 35px;
}

#logo-preta {
    background-color: transparent;
    max-width: 100px;
    height: 80px;
    
}

#nome-logo-preta-2 {
    background-color: transparent;
    max-width: 500px;
}

#perfil {
    align-content: center;
    background-color: transparent;
}

#shopping-cart-preta {
    background-color: transparent;
    max-width: 35px;
}

/*botão superior do carrinho*/
#produto {
    padding-left: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: #5DA253;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.btn-menu-preto{
    display: flex;
    flex-direction: column;
    
}

.offcanvas-body  {
    display: grid;
    align-content: space-between;
}



.total{
    display: flex; 
    justify-content: end;
    justify-content: space-between;
    align-content: flex-end;
    
}

.btn.btn-primary{
    background-color: #428842;
    border: transparent;
}

.add-produto{
    background-color: rgb(201, 201, 201);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    display: flex;
}

#qnt{
    margin: 5px;
}

#valor-produto{
    background-color: transparent;
}

#foto-produto {
    max-width: 150px;
    height: 150px;
    background-color: transparent;
    border-radius: 10px;
    margin: 5px 0px 5px 3px;
}

#grid-nome-valor {
    background-color: transparent;
    display: grid;
    align-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
#nome-produto {
    background-color: transparent;
    margin-top: 10px;
    font-size: 0.8rem;
}

#grid-valor-botao { 
    background-color: transparent;
}

#grid-valor-botao p {
    background-color: transparent;
    margin-bottom: 0px;
}

#grid-botao {
    background-color: transparent;
    gap: 5px;
    display: flex;
    justify-content: flex-end;
    
}

#grid-botao button {
    text-decoration: none;
    padding: 0px;
    border: 0px;
    background-color: transparent;
    align-self:flex-start;
}

/*fim do botão superior do carrinho*/

#user-preta {
    background-color: transparent;
    max-width: 35px;
}

#search {
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

#barra-de-buscar{
    background-color: #E7F5F8;
    opacity: 50%;
    border: solid 1px;
    border-radius: 5px;
    height: 35px;
    width: 600px;
}
  
#txt-buscar{
    float: left;
    background-color: transparent;
    padding-left: 10px;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 560px;
}

#btn-buscar {
    background-color: transparent;
    max-width: 25px;
}

/*fim header*/

.container{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

.title-clothes{
    text-align: center;
}

.botao-voltar{
    width: 20px;
    height: 20px;
}

.foto {
    width: 250px;
    height: 310px;
    margin-bottom: 0px;
}


.fotos-roupas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px 10px;
}

.product-info p{
    text-align: center;
    margin: 0px;
}

.container-pic{
    margin: 0 auto;
    width: 1000px;
}

/*inicio do footer*/
.footer {
    position: bottom;
    bottom: 0;
    width: 100%;
    padding: 20px;
    margin-top: 50px;
    text-align: left;
    color: black;
    background-color: #D9D9D9;
}

.footer__icons {
    display: flex;
    justify-content: flex-start;
    max-width: 720px;
    margin: 0 auto;
    background-color: #D9D9D9;
}
  
.footer__icons img {
    display: flex;
    flex: 1;
    padding-right: 20px;
}
  
.svg {
    height: 20px;
    background-color: #D9D9D9;
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    background-color: #D9D9D9;
}
  
.footer__row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-direction: row;
    background-color: #D9D9D9;
}
  
.column {
    flex-direction: row;
    column-gap: 70px;
    padding: 20px 20px 20px 20px;
    list-style-type: none;
    background-color: #D9D9D9;
}

.column a {
    margin: 0;
    font-size: 13px;
    text-decoration: none;
    color: black;
    background-color: #D9D9D9;
}

.column a:hover {
    text-decoration: underline;
}
  
.column li {
    padding-bottom: 20px;
    background-color: #D9D9D9;
}
    
.column + .column {
    margin-left: 30px;
}
  
.footer__serviceCode {
    font-size: 13px;
    color: black;
    border: black 1px solid;
    padding: 8px;
    text-align: center;
    margin-bottom: 30px;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    background-color: #D9D9D9;
}
 
.footer__serviceCode:hover {
    color: black;
    cursor: pointer;
}

.footer__trademark {
    font-size: 10px;
    margin-top: 20px;
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    background-color: #D9D9D9;
}

@media (max-width: 500px) {
    #header {
        max-width: 500px;
        max-height: 300px;
        align-content: flex-start;
    }

    #logo-preta {
        display: none;
    }

    #nome-logo-preta-2 {
        width: 250px;
    }

    #barra-de-buscar {
        width: 300px;
    }

    #txt-buscar {
        width: 260px;
    }

    .container-pic {
        margin: 0 auto;
        max-width: 500px;
    }

    .fotos-roupas {
        grid-template-columns: 1fr 1fr;
    }

    .foto {
        max-width: 200px;
    }

    #carouselExample {
        margin: 0 auto;
        max-width: 500px;
    }
    
    .footer__row {
        display: none;
    }
}

/*fim do footer*/