* {
    background-color: #A2BE9F;
    overflow-x: hidden;
}
body {
    background-color: #A2BE9F;
}
#header {
    background-image: url("/img/home/background-image.svg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

#icones {
    padding-top: 30px;
    background-color: transparent;
    display: flex;
}

#nav-grid {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
}

#menu-branco {
    margin-left: 10px;
    background-color: transparent;
    max-width: 35px;
}

#logo-search {
    padding-top: 175px;
    background-color: transparent;
    display: grid; 
    justify-content: center;
}

#logo {
    background-color: transparent;
}

#logo img {
    background-color: transparent;
}

#logo-branca {
    max-width: 100px;
}

#nome-logo-branca-2 {
    max-width: 500px;
}

#perfil {
    align-content: center;
    background-color: transparent;
}

/* menu hamburguer */

.btn.btn-primary {
    background-color: transparent;
    border: 0px;
}

a {
    text-decoration: none;
    font-style: oblique;
    color: black;
}

h4 {
    margin: 0px;
    padding: 10px;
}

#shopping-cart-branco {
    background-color: transparent;
    max-width: 35px;
}

/*final menu hamburguer*/

/*botão superior do carrinho*/

#produto {
    display: none;
}

#produto.ativo {
    padding-left: 10px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: #5DA253;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.btn-menu-preto{
    display: flex;
    flex-direction: column;
    
}

.offcanvas-body  {
    display: grid;
    align-content: space-between;
}

.total{
    position: absolute;
    bottom: 0;
    width: 90%;
    display: flex; 
    justify-content: space-between;
}

#adicionar{
    background-color: #428842;
}

.add-produto{
    background-color: rgb(201, 201, 201);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    display: flex;
}

#qnt{
    margin: 5px;
}

#valor-produto{
    background-color: transparent;
}

#foto-produto {
    max-width: 150px;
    height: 150px;
    background-color: transparent;
    border-radius: 10px;
    margin: 5px 0px 5px 3px;
}

#grid-nome-valor {
    background-color: transparent;
    display: grid;
    align-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
#nome-produto {
    background-color: transparent;
    margin-top: 10px;
    font-size: 0.8rem;
}

#grid-valor-botao { 
    background-color: transparent;
}

#grid-valor-botao p {
    background-color: transparent;
    margin-bottom: 0px;
}

#grid-botao {
    background-color: transparent;
    gap: 5px;
    display: flex;
    justify-content: flex-end;
    
}

#grid-botao button {
    text-decoration: none;
    padding: 0px;
    border: 0px;
    background-color: transparent;
    align-self: flex-start;
}

/*fim do botão superior do carrinho*/

#user-branco {
    background-color: transparent;
    max-width: 35px;
}

#search {
    background-color: transparent;
    display: flex;
    justify-content: center;
}

#barra-de-buscar{
    background-color: #E7F5F8;
    opacity: 50%;
    border: solid 1px;
    border-radius: 5px;
    height: 35px;
    width: 600px;
}
  
#txt-buscar{
    float: left;
    background-color: transparent;
    padding-left: 10px;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 560px;
}

#btn-buscar {
    background-color: transparent;
    max-width: 25px;
}

#seta {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

#seta-baixo-branca {
    background-color: transparent;
}

#categorias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    width: 1000px;
    justify-items: center;
    gap: 0px 20px;
}

#categorias-nomes {
    font-size: 1.5em;
    
}

#categorias-fotos {
    max-width: 100%;
    
}

/*carrossel de produtos*/

#carouselExample {
    padding-top: 50px;
    margin: 0 auto;
    width: 1000px;
}

.carousel-inner {
    display: flex;
}

.carousel-item.active {
    padding-left: 250px;
}

.carousel-item {
    padding-left: 250px;
}

#foto-carrosel {
    max-width: 500px;
    border-radius: 10px;
}

/*fim carrosel de produtos*/

.footer {
    position: bottom;
    bottom: 0;
    width: 100%;
    padding: 20px;
    margin-top: 50px;
    text-align: left;
    color: black;
    background-color: #D9D9D9;
}

.footer__icons {
    display: flex;
    justify-content: flex-start;
    max-width: 720px;
    margin: 0 auto;
    background-color: #D9D9D9;
}
  
.footer__icons img {
    display: flex;
    flex: 1;
    padding-right: 20px;
}
  
.svg {
    height: 20px;
    background-color: #D9D9D9;
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    background-color: #D9D9D9;
}
  
.footer__row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-direction: row;
    background-color: #D9D9D9;
}
  
.column {
    flex-direction: row;
    column-gap: 70px;
    padding: 20px 20px 20px 20px;
    list-style-type: none;
    background-color: #D9D9D9;
}

.column a {
    margin: 0;
    font-size: 13px;
    text-decoration: none;
    color: black;
    background-color: #D9D9D9;
}

.column a:hover {
    text-decoration: underline;
}
  
.column li {
    padding-bottom: 20px;
    background-color: #D9D9D9;
}
    
.column + .column {
    margin-left: 30px;
}
  
.footer__serviceCode {
    font-size: 13px;
    color: black;
    border: black 1px solid;
    padding: 8px;
    text-align: center;
    margin-bottom: 30px;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    background-color: #D9D9D9;
}
 
.footer__serviceCode:hover {
    color: black;
    cursor: pointer;
}

.footer__trademark {
    font-size: 10px;
    margin-top: 20px;
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    background-color: #D9D9D9;
}

@media (max-width: 500px) {
    #header {
        max-width: 500px;
        max-height: 300px;
        align-content: flex-start;
    }

    #logo-search {
        padding-top: 0px;
        justify-items: center;
    }

    #nome-logo-branca-2 {
        display: none;
    }

    #barra-de-buscar {
        width: 300px;
    }

    #txt-buscar {
        width: 260px;
    }

    #seta {
        display: none;
    }

    #categorias {
        margin: 0 auto;
        max-width: 500px;
    }

    #categorias-nomes {
        font-size: 1.5rem;
    }

    #categorias-fotos {
        max-width: 125px;
    }

    #carouselExample {
        margin: 0 auto;
        max-width: 500px;
    }

    .carousel-item.active, .carousel-item {
        padding-left: 100px;
    }

    #foto-carrosel {
        max-width: 300px;
    }

    .footer__row {
        display: none;
    }
}


